.aboutBg{
    background-color: rgba(237, 174, 80, 0.797);
    border-style: dotted dashed solid double;
    margin: 5vh;
    border-radius: 20px;
}
.aboutBio{
    font-family: 'Montserrat', sans-serif;
}
.aboutHeader{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.aboutText{
    font-family: 'Montserrat', sans-serif;
}
.bg{
    background-color: rgb(149, 0, 255);
    width: 100vw;
    min-height: 145vh;
}