.test{
    background-color:rgb(131, 128, 128, 0.9);
}
.pad{
    padding: 1%;
}
.goButton{
    background-color: #4CAF50; /* Green */
    border: solid 1px;
    color: blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:3px;
}
