.unitBtn1{
    background-color: #4CAF50; /* Green */
    border: solid 1px;
    color: blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:3px;
    margin-left: 40%;
}
.space{
    margin-left: 15vw;
}
.box{
    background-color: rgb(131, 128, 128, 0.9);
    margin-bottom: 3%;
    border-radius: 3px;
}
