.welcomeMessage{
    margin:auto;
    align-items:center;
    border-width: 20px;
    border-style: solid;
    border-color: red;
}
.welcomeImg{
    background-image: url('../pictures/floatingBook.png');
    /* background-size: contain; */
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    overflow: hidden;
  }
  