.welcomeMessage{
    margin:auto;
    align-items:center;
    border-width: 20px;
    border-style: solid;
    border-color: red;
}
.welcomeImg{
    background-image: url('../pictures/floatingBook.png');
    height: 80vh;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper {
    overflow: hidden;
    margin-left: 7vw;
  }
.container {
    text-align: center;
}